Introduction to R
===
---
1. Working directory
2. Reading data into R
3. Examining data  
4. Keeping track
5. **Practice!**
---

## 1. Working directiory
* setwd(  )
* getwd(  )

In [3]:
setwd("/Users/tino/Desktop/TA-Econometrics-II/notebooks_R") # set working directory

In [4]:
getwd() # display working directory

[1] "/Users/tino/Desktop/TA-Econometrics-II/notebooks_R"

---
## 2. Reading data into R
* package - tidyverse
* readr - read.csv( )
* var_name <- read.csv("file_name.csv")

In [6]:
install.packages("tidyverse") # install the package tidyverse

The downloaded binary packages are in
	/var/folders/xj/2zqx0dxn52d5778tkr7r6rp00000gn/T//RtmpQpnmtJ/downloaded_packages

In [7]:
library(tidyverse) # import tidyverse

─ Attaching packages ──────────────────── tidyverse 1.2.1 ─
✔ ggplot2 2.2.1     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.4.0
✔ readr   1.1.1     ✔ forcats 0.3.0
Warning message:
“package ‘dplyr’ was built under R version 3.5.1”Warning message:
“package ‘stringr’ was built under R version 3.5.2”─ Conflicts ───────────────────── tidyverse_conflicts() ─
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [10]:
read.csv("affairs.csv") # read the data into R

    id   male age yrsmarr kids relig educ occup ratemarr naffairs affair
1     4  1    37  10.000  0    3     18   7     4         0       0
2     5  0    27   4.000  0    4     14   6     4         0       0
3     6  1    27   1.500  0    3     18   4     4         3       1
4    11  0    32  15.000  1    1     12   1     4         0       0
5    12  0    27   4.000  1    3     17   1     5         3       1
6    16  1    57  15.000  1    5     18   6     5         0       0
7    23  1    22   0.750  0    2     17   6     3         0       0
8    29  0    32   1.500  0    2     17   5     5         0       0
9    43  1    37  15.000  1    5     18   6     2         7       1
10   44  0    22   0.750  0    2     12   1     3         0       0
11   45  1    57  15.000  1    2     14   4     4         0       0
12   47  0    32  15.000  1    4     16   1     2         0       0
13   49  1    22   1.500  0    4     14   4     5         0       0
14   50  1    37  15.000  1    2     20   7     2         0       0
15   53  0    32  10.000  1    3     17   5     2        12       1
16   55  1    27   4.000  1    4     18   6     4         0       0
17   64  1    47  15.000  1    5     17   6     4         0       0
18   67  1    22   0.125  0    4     16   5     5         1       1
19   79  0    22   1.500  1    2     14   1     5         1       1
20   80  0    22   1.500  0    2     17   5     4         0       0
21   86  0    27   4.000  0    4     14   5     4         0       0
22   93  0    37  15.000  1    1     17   5     5         0       0
23  108  0    37  15.000  1    2     18   4     3         0       0
24  114  0    22   0.750  0    3     16   5     4         0       0
25  115  0    22   1.500  0    2     16   5     5         0       0
26  116  0    27  10.000  1    2     14   1     5         0       0
27  122  1    37  15.000  1    4     14   5     2        12       1
28  123  0    22   1.500  0    2     16   5     5         0       0
29  126  0    22   1.500  0    2     14   3     4         7       1
30  127  0    22   1.500  0    2     16   5     5         0       0
⋮   ⋮    ⋮    ⋮   ⋮       ⋮    ⋮     ⋮    ⋮     ⋮        ⋮        ⋮
572 1885 0    32  15.0    1    5     16   5     3        0        0
573 1892 1    32  10.0    1    4     18   5     4        0        0
574 1895 0    32  15.0    1    2     14   3     4        0        0
575 1896 0    22   1.5    0    3     17   5     5        0        0
576 1897 1    27   4.0    1    4     17   4     4        0        0
577 1899 0    52  15.0    1    5     14   1     5        0        0
578 1904 0    27   7.0    1    2     12   1     2        0        0
579 1905 0    27   7.0    1    3     12   1     4        0        0
580 1908 0    42  15.0    1    2     14   1     4        0        0
581 1916 0    42  15.0    1    4     14   5     4        0        0
582 1918 1    27   7.0    1    4     14   3     3        0        0
583 1920 1    27   7.0    1    2     20   6     2        0        0
584 1929 1    32  10.0    1    4     14   4     3        3        1
585 1930 0    42  15.0    1    3     12   3     3        0        0
586 1935 1    47  15.0    1    3     16   4     2        7        1
587 1938 1    22   1.5    1    1     12   2     5        1        1
588 1940 1    27   4.0    1    3     16   3     5        0        0
589 1941 0    32  10.0    1    2     18   5     4        7        1
590 1947 0    27   7.0    1    3     14   1     4        0        0
591 1949 0    22   1.5    0    2     14   4     5        0        0
592 1951 0    27   4.0    1    4     14   1     4        0        0
593 1952 0    22   4.0    0    4     14   5     5        0        0
594 1954 1    32  10.0    1    2     17   6     5        2        1
595 1959 1    22   7.0    1    3     18   6     2        2        1
596 1960 0    22   1.5    0    2     16   4     5        0        0
597 9001 1    47  15.0    0    4     14   5     4        0        0
598 9010 0    32  15.0    1    3     14   1     5        1        1
599 9012 1    37  10.0    1    2     18   6     2        0        0
600 9023 1    37  15.0    1    3     17   5     4        0        0
601 9029 0    27   4.0    1    2     16   1     4        0        0

In [7]:
affairs <- read.csv("affairs.csv") # assign this data to variable affairs

In [1]:
1 + 1

[1] 2

In [3]:
addition <- 1 + 1
print(addition)

[1] 2

---
## 3. Examining data
* str( ) - # of observations and variables, type of variables
* summary( ) - summary statistics of variables
* **dataframe!** - data[ obs, var ]
* table( ) - frequency of variables
* View( ) - full dataset
* head( ) - list the first 6 obs
* class( ) - data structure of variable

In [35]:
str(affairs)

'data.frame':	601 obs. of  11 variables:
 $ id      : int  4 5 6 11 12 16 23 29 43 44 ...
 $ male    : int  1 0 1 0 0 1 1 0 1 0 ...
 $ age     : num  37 27 27 32 27 57 22 32 37 22 ...
 $ yrsmarr : num  10 4 1.5 15 4 15 0.75 1.5 15 0.75 ...
 $ kids    : int  0 0 0 1 1 1 0 0 1 0 ...
 $ relig   : int  3 4 3 1 3 5 2 2 5 2 ...
 $ educ    : int  18 14 18 12 17 18 17 17 18 12 ...
 $ occup   : int  7 6 4 1 1 6 6 5 6 1 ...
 $ ratemarr: int  4 4 4 4 5 5 3 5 2 3 ...
 $ naffairs: int  0 0 3 0 3 0 0 0 7 0 ...
 $ affair  : int  0 0 1 0 1 0 0 0 1 0 ...

In [36]:
summary(affairs)

       id            male             age           yrsmarr
 Min.   :   4   Min.   :0.0000   Min.   :17.50   Min.   : 0.125
 1st Qu.: 528   1st Qu.:0.0000   1st Qu.:27.00   1st Qu.: 4.000
 Median :1009   Median :0.0000   Median :32.00   Median : 7.000
 Mean   :1060   Mean   :0.4759   Mean   :32.49   Mean   : 8.178
 3rd Qu.:1453   3rd Qu.:1.0000   3rd Qu.:37.00   3rd Qu.:15.000
 Max.   :9029   Max.   :1.0000   Max.   :57.00   Max.   :15.000
      kids            relig            educ           occup
 Min.   :0.0000   Min.   :1.000   Min.   : 9.00   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:2.000   1st Qu.:14.00   1st Qu.:3.000
 Median :1.0000   Median :3.000   Median :16.00   Median :5.000
 Mean   :0.7155   Mean   :3.116   Mean   :16.17   Mean   :4.195
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:18.00   3rd Qu.:6.000
 Max.   :1.0000   Max.   :5.000   Max.   :20.00   Max.   :7.000
    ratemarr        naffairs          affair
 Min.   :1.000   Min.   : 0.000   Min.   :0.0000
 1st Qu.:3.000   1st Qu.: 0.000   1st Qu.:0.0000
 Median :4.000   Median : 0.000   Median :0.0000
 Mean   :3.932   Mean   : 1.456   Mean   :0.2496
 3rd Qu.:5.000   3rd Qu.: 0.000   3rd Qu.:0.0000
 Max.   :5.000   Max.   :12.000   Max.   :1.0000

In [38]:
affairs

    id   male age yrsmarr kids relig educ occup ratemarr naffairs affair
1     4  1    37  10.000  0    3     18   7     4         0       0
2     5  0    27   4.000  0    4     14   6     4         0       0
3     6  1    27   1.500  0    3     18   4     4         3       1
4    11  0    32  15.000  1    1     12   1     4         0       0
5    12  0    27   4.000  1    3     17   1     5         3       1
6    16  1    57  15.000  1    5     18   6     5         0       0
7    23  1    22   0.750  0    2     17   6     3         0       0
8    29  0    32   1.500  0    2     17   5     5         0       0
9    43  1    37  15.000  1    5     18   6     2         7       1
10   44  0    22   0.750  0    2     12   1     3         0       0
11   45  1    57  15.000  1    2     14   4     4         0       0
12   47  0    32  15.000  1    4     16   1     2         0       0
13   49  1    22   1.500  0    4     14   4     5         0       0
14   50  1    37  15.000  1    2     20   7     2         0       0
15   53  0    32  10.000  1    3     17   5     2        12       1
16   55  1    27   4.000  1    4     18   6     4         0       0
17   64  1    47  15.000  1    5     17   6     4         0       0
18   67  1    22   0.125  0    4     16   5     5         1       1
19   79  0    22   1.500  1    2     14   1     5         1       1
20   80  0    22   1.500  0    2     17   5     4         0       0
21   86  0    27   4.000  0    4     14   5     4         0       0
22   93  0    37  15.000  1    1     17   5     5         0       0
23  108  0    37  15.000  1    2     18   4     3         0       0
24  114  0    22   0.750  0    3     16   5     4         0       0
25  115  0    22   1.500  0    2     16   5     5         0       0
26  116  0    27  10.000  1    2     14   1     5         0       0
27  122  1    37  15.000  1    4     14   5     2        12       1
28  123  0    22   1.500  0    2     16   5     5         0       0
29  126  0    22   1.500  0    2     14   3     4         7       1
30  127  0    22   1.500  0    2     16   5     5         0       0
⋮   ⋮    ⋮    ⋮   ⋮       ⋮    ⋮     ⋮    ⋮     ⋮        ⋮        ⋮
572 1885 0    32  15.0    1    5     16   5     3        0        0
573 1892 1    32  10.0    1    4     18   5     4        0        0
574 1895 0    32  15.0    1    2     14   3     4        0        0
575 1896 0    22   1.5    0    3     17   5     5        0        0
576 1897 1    27   4.0    1    4     17   4     4        0        0
577 1899 0    52  15.0    1    5     14   1     5        0        0
578 1904 0    27   7.0    1    2     12   1     2        0        0
579 1905 0    27   7.0    1    3     12   1     4        0        0
580 1908 0    42  15.0    1    2     14   1     4        0        0
581 1916 0    42  15.0    1    4     14   5     4        0        0
582 1918 1    27   7.0    1    4     14   3     3        0        0
583 1920 1    27   7.0    1    2     20   6     2        0        0
584 1929 1    32  10.0    1    4     14   4     3        3        1
585 1930 0    42  15.0    1    3     12   3     3        0        0
586 1935 1    47  15.0    1    3     16   4     2        7        1
587 1938 1    22   1.5    1    1     12   2     5        1        1
588 1940 1    27   4.0    1    3     16   3     5        0        0
589 1941 0    32  10.0    1    2     18   5     4        7        1
590 1947 0    27   7.0    1    3     14   1     4        0        0
591 1949 0    22   1.5    0    2     14   4     5        0        0
592 1951 0    27   4.0    1    4     14   1     4        0        0
593 1952 0    22   4.0    0    4     14   5     5        0        0
594 1954 1    32  10.0    1    2     17   6     5        2        1
595 1959 1    22   7.0    1    3     18   6     2        2        1
596 1960 0    22   1.5    0    2     16   4     5        0        0
597 9001 1    47  15.0    0    4     14   5     4        0        0
598 9010 0    32  15.0    1    3     14   1     5        1        1
599 9012 1    37  10.0    1    2     18   6     2        0        0
600 9023 1    37  15.0    1    3     17   5     4        0        0
601 9029 0    27   4.0    1    2     16   1     4        0        0

In [39]:
affairs[1:10, ]

   id male age yrsmarr kids relig educ occup ratemarr naffairs affair
1   4 1    37  10.00   0    3     18   7     4        0        0
2   5 0    27   4.00   0    4     14   6     4        0        0
3   6 1    27   1.50   0    3     18   4     4        3        1
4  11 0    32  15.00   1    1     12   1     4        0        0
5  12 0    27   4.00   1    3     17   1     5        3        1
6  16 1    57  15.00   1    5     18   6     5        0        0
7  23 1    22   0.75   0    2     17   6     3        0        0
8  29 0    32   1.50   0    2     17   5     5        0        0
9  43 1    37  15.00   1    5     18   6     2        7        1
10 44 0    22   0.75   0    2     12   1     3        0        0

In [45]:
affairs[1:10, 1:5]

   id male age yrsmarr kids
1   4 1    37  10.00   0
2   5 0    27   4.00   0
3   6 1    27   1.50   0
4  11 0    32  15.00   1
5  12 0    27   4.00   1
6  16 1    57  15.00   1
7  23 1    22   0.75   0
8  29 0    32   1.50   0
9  43 1    37  15.00   1
10 44 0    22   0.75   0

In [46]:
affairs[1:10, c(1, 3, 5)]

   id age kids
1   4 37  0
2   5 27  0
3   6 27  0
4  11 32  1
5  12 27  1
6  16 57  1
7  23 22  0
8  29 32  0
9  43 37  1
10 44 22  0

In [50]:
affairs[1:10, c(-1, -11)]

   male age yrsmarr kids relig educ occup ratemarr naffairs
1  1    37  10.00   0    3     18   7     4        0
2  0    27   4.00   0    4     14   6     4        0
3  1    27   1.50   0    3     18   4     4        3
4  0    32  15.00   1    1     12   1     4        0
5  0    27   4.00   1    3     17   1     5        3
6  1    57  15.00   1    5     18   6     5        0
7  1    22   0.75   0    2     17   6     3        0
8  0    32   1.50   0    2     17   5     5        0
9  1    37  15.00   1    5     18   6     2        7
10 0    22   0.75   0    2     12   1     3        0

In [21]:
affairs[affairs$age > 35, c("male", "ratemarr")]

    male ratemarr
1   1    4
6   1    5
9   1    2
11  1    4
14  1    2
17  1    4
22  0    5
23  0    3
27  1    2
32  1    4
34  1    4
38  1    4
40  0    2
42  0    4
43  1    3
46  0    4
49  0    1
50  1    2
53  0    4
54  1    3
59  1    5
61  0    5
62  1    3
70  0    4
72  1    4
80  0    4
82  0    1
86  0    5
89  0    2
90  1    4
⋮   ⋮    ⋮
516 1    4
517 0    2
518 1    2
524 0    4
526 1    2
527 1    3
532 1    3
534 1    4
535 1    4
539 1    1
541 0    5
542 1    5
543 1    5
545 1    4
546 1    5
550 1    5
552 1    4
556 0    5
557 1    3
560 1    2
564 0    1
565 0    2
577 0    5
580 0    4
581 0    4
585 0    3
586 1    2
597 1    4
599 1    2
600 1    4

In [27]:
summary(affairs[affairs$age > 35, c("ratemarr")])

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   3.000   4.000   3.629   4.000   5.000

In [54]:
table(affairs$male)

  0   1
315 286

In [55]:
table(affairs$male, affairs$ratemarr)

      1   2   3   4   5
  0  11  35  46  93 130
  1   5  31  47 101 102

In [ ]:
View(affairs)

In [57]:
head(affairs)

  id male age yrsmarr kids relig educ occup ratemarr naffairs affair
1  4 1    37  10.0    0    3     18   7     4        0        0
2  5 0    27   4.0    0    4     14   6     4        0        0
3  6 1    27   1.5    0    3     18   4     4        3        1
4 11 0    32  15.0    1    1     12   1     4        0        0
5 12 0    27   4.0    1    3     17   1     5        3        1
6 16 1    57  15.0    1    5     18   6     5        0        0

In [58]:
class(affairs)

[1] "data.frame"

---
## 4. Keeping track
* R Markdown - save your code and results.
  * Open an R Markdown file.

![Step 1](img/markdown_step1.png)

* R Markdown
  * Clike OK!

![Step 2](img/markdown_step2.png)

* R Markdown
  * Created an R Markdwon surface.

![Step 3](img/markdown_step3.png)

* R Markdown
  * Demo

![Markdwon_demo](img/markdown_demo.png)

---
## 5. Practice
* Create a folder name "Your_Studuent_ID_R" on desktop, and set the working directory to this folder.
* Import three dataset: "crime3.csv". 
* Compare the mean of var crime in year 72 and year 78.