Introduction to Stata
===
---

## Direction 
Before we start doing anything in Stata, we have to assign a direction to Stata.  
This direction make Stata be able to find your files.

In [57]:
cd "/Users/tino/Desktop/TA-Econometrics-II/Notebook_Stata" // Change direciton

/Users/tino/Desktop/TA-Econometrics-II/Notebook_Stata

In [2]:
mkdir "mkdir_test" // create a new folder in your working direction

In [3]:
dir // display the content of your working direction

total 3040
-rw-r--r--  1 tino  staff      730  2 24 10:36 TA_0226.ipynb
-rw-r--r--@ 1 tino  staff  1550647  2 23 15:24 alcohol.csv
drwxr-xr-x  2 tino  staff       64  2 24 10:37 mkdir_test/

In [4]:
pwd // display your current working direction

/Users/tino/Desktop/TA-Econometrics-II/Notebook_Stata

## Reading data into Stata
After we assign the working direction, we can import data into Stata.  
There are two ways to import your data.

In [ ]:
use // import .dta file

In [7]:
insheet using "alcohol.csv", clear // import ASCII text file

(34 vars, 9,822 obs)

## Examining the data
* list - in Observation, if Condition
* describe
* tab
* summarize
* inspect

In [11]:
list abuse status age educ

      +-----------------------------+
      | abuse   status   age   educ |
      |-----------------------------|
   1. |     1        1    50      4 |
   2. |     0        3    37     12 |
   3. |     0        3    53      9 |
   4. |     0        3    59     11 |
   5. |     0        3    43     10 |
      |-----------------------------|
   6. |     0        3    38     10 |
   7. |     0        3    34     10 |
   8. |     0        1    45      2 |
   9. |     0        1    47      5 |
  10. |     0        3    31     12 |
      |-----------------------------|
  11. |     0        3    43     18 |
  12. |     1        3    46     12 |
  13. |     0        3    36     12 |
  14. |     0        3    29     16 |
  15. |     0        3    32     15 |
      |-----------------------------|
  16. |     0        3    37     12 |
  17. |     0        3    27     12 |
  18. |     0        3    55     11 |
  19. |     0        3    38     16 |
  20. |     0        3    25     12 |
      |-----------------------------|
  21. |     0        3    33     12 |
  22. |     0        1    36     12 |
  23. |     0        3    46      7 |
  24. |     0        3    53     16 |
  25. |     0        3    56     18 |
      |-----------------------------|
  26. |     0        3    38     16 |
  27. |     0        3    42     16 |
  28. |     0        3    53     18 |
  29. |     0        3    50     13 |
  30. |     0        3    40     12 |
      |-----------------------------|
  31. |     0        3    56     18 |
  32. |     0        3    42     16 |
  33. |     0        3    43     16 |
  34. |     0        3    28     12 |
  35. |     0        3    32     16 |
      |-----------------------------|
  36. |     1        3    38     14 |
  37. |     1        3    52     12 |
  38. |     1        3    56     18 |
  39. |     0        3    38     16 |
  40. |     0        3    46     10 |
      |-----------------------------|
  41. |     0        1    46     10 |
  42. |     0        1    39     10 |
  43. |     1        3    25     12 |
  44. |     0        3    57     12 |
  45. |     0        3    41     13 |
      |-----------------------------|
  46. |     1        3    34     15 |
  47. |     0        3    31     12 |
  48. |     0        3    33     14 |
  49. |     1        1    46     14 |
  50. |     0        3    46      6 |
      |-----------------------------|
  51. |     0        3    47      8 |
  52. |     0        3    48      6 |
  53. |     0        3    32     13 |
  54. |     0        3    54      4 |
  55. |     0        3    57      6 |
      |-----------------------------|
  56. |     0        3    55     12 |
  57. |     0        3    47     12 |
  58. |     0        3    32     13 |
  59. |     0        3    44     12 |
  60. |     0        3    48      6 |
      |-----------------------------|
  61. |     0        3    29     12 |
  62. |     1        3    47     12 |
  63. |     0        3    36     15 |
  64. |     0        3    48     12 |
  65. |     0        3    56     12 |
      |-----------------------------|
  66. |     0        3    51     16 |
  67. |     0        3    40     17 |
  68. |     0        3    43     16 |
  69. |     0        3    52     18 |
  70. |     1        3    35     16 |
      |-----------------------------|
  71. |     0        3    47      9 |
  72. |     0        3    54     12 |
  73. |     0        3    33     12 |
  74. |     0        1    48     10 |
  75. |     0        3    37     11 |
      |-----------------------------|
  76. |     0        3    40     16 |
  77. |     0        3    38     18 |
  78. |     0        3    54      6 |
  79. |     0        2    34     13 |
  80. |     0        3    39     14 |
      |-----------------------------|
--more--

In [13]:
list abuse status age educ in 1/10

     +-----------------------------+
     | abuse   status   age   educ |
     |-----------------------------|
  1. |     1        1    50      4 |
  2. |     0        3    37     12 |
  3. |     0        3    53      9 |
  4. |     0        3    59     11 |
  5. |     0        3    43     10 |
     |-----------------------------|
  6. |     0        3    38     10 |
  7. |     0        3    34     10 |
  8. |     0        1    45      2 |
  9. |     0        1    47      5 |
 10. |     0        3    31     12 |
     +-----------------------------+

In [14]:
list abuse status age educ if age < 30

      +-----------------------------+
      | abuse   status   age   educ |
      |-----------------------------|
  14. |     0        3    29     16 |
  17. |     0        3    27     12 |
  20. |     0        3    25     12 |
  34. |     0        3    28     12 |
  43. |     1        3    25     12 |
      |-----------------------------|
  61. |     0        3    29     12 |
  87. |     0        3    29     18 |
  89. |     0        3    27     14 |
  90. |     0        3    27     14 |
  97. |     0        3    25     16 |
      |-----------------------------|
 101. |     0        1    25     13 |
 111. |     0        3    27     12 |
 132. |     0        3    25     12 |
 149. |     0        1    28     12 |
 153. |     0        3    25     12 |
      |-----------------------------|
 155. |     0        3    27     12 |
 167. |     0        3    25     12 |
 168. |     0        3    29     12 |
 169. |     0        3    27     12 |
 173. |     1        2    29     11 |
      |-----------------------------|
 175. |     0        3    27     16 |
 176. |     0        1    27     11 |
 185. |     0        3    27     11 |
 194. |     0        3    28     16 |
 195. |     0        3    26     13 |
      |-----------------------------|
 201. |     0        3    26     12 |
 202. |     0        3    25     16 |
 207. |     0        3    28     18 |
 211. |     0        3    29     10 |
 219. |     0        3    26     16 |
      |-----------------------------|
 221. |     0        3    28     11 |
 224. |     0        3    28     18 |
 227. |     0        3    26     16 |
 243. |     0        3    27     16 |
 245. |     0        3    28     16 |
      |-----------------------------|
 249. |     0        3    27     12 |
 250. |     0        3    26      9 |
 253. |     0        3    26     12 |
 259. |     0        3    25     15 |
 264. |     0        3    26     18 |
      |-----------------------------|
 265. |     0        3    29     16 |
 271. |     1        3    26     16 |
 274. |     0        3    28     16 |
 275. |     0        3    26     17 |
 277. |     0        3    26     16 |
      |-----------------------------|
 278. |     0        3    25     16 |
 283. |     0        3    25     17 |
 284. |     0        3    28     16 |
 285. |     0        3    26     13 |
 298. |     0        2    27     13 |
      |-----------------------------|
 301. |     0        3    28     12 |
 304. |     1        1    27      9 |
 305. |     0        3    26     12 |
 312. |     0        3    25     16 |
 313. |     0        3    28     12 |
      |-----------------------------|
 325. |     0        3    29      6 |
 339. |     0        3    28     12 |
 342. |     0        3    29     16 |
 352. |     0        3    27     18 |
 356. |     0        3    27     16 |
      |-----------------------------|
 357. |     0        3    25     14 |
 359. |     0        3    28     16 |
 365. |     0        1    28     10 |
 366. |     0        3    27     12 |
 372. |     0        3    28     18 |
      |-----------------------------|
 374. |     1        3    28     17 |
 375. |     1        3    29     18 |
 383. |     0        1    26     11 |
 400. |     0        3    27     16 |
 402. |     0        3    26     16 |
      |-----------------------------|
 416. |     1        3    26     12 |
 417. |     0        3    28     13 |
 418. |     1        2    28     12 |
 427. |     1        3    26     18 |
 434. |     0        3    29     16 |
      |-----------------------------|
 437. |     0        3    25     13 |
 444. |     1        1    25      9 |
 468. |     1        3    25     14 |
 469. |     0        3    26     16 |
 476. |     0        3    26     12 |
      |-----------------------------|
--more--

In [21]:
assert age < 0

9,822 contradictions in 9,822 observations
assertion is false

r(9);

In [22]:
describe

Contains data
  obs:         9,822
 vars:            34
 size:       569,676
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
v1              int     %8.0g
abuse           byte    %8.0g
status          byte    %8.0g
unemrate        float   %9.0g
age             byte    %8.0g
educ            byte    %8.0g
married         byte    %8.0g
famsize         byte    %8.0g
white           byte    %8.0g
exhealth        byte    %8.0g
vghealth        byte    %8.0g
goodhealth      byte    %8.0g
fairhealth      byte    %8.0g
northeast       byte    %8.0g
midwest         byte    %8.0g
south           byte    %8.0g
centcity        byte    %8.0g
outercity       byte    %8.0g
qrt1            byte    %8.0g
qrt2            byte    %8.0g
qrt3            byte    %8.0g
beertax         float   %9.0g
cigtax          float   %9.0g
ethanol         float   %9.0g
mothalc         byte    %8.0g
fathalc         byte    %8.0g
livealc         byte    %8.0g
inwf            byte    %8.0g
employ          byte    %8.0g
agesq           int     %8.0g
beertaxsq       float   %9.0g
cigtaxsq        float   %9.0g
ethanolsq       float   %9.0g
educsq          int     %8.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

In [26]:
summarize

    Variable |        Obs        Mean    Std. Dev.       Min        Max
-------------+---------------------------------------------------------
          v1 |      9,822      4911.5    2835.512          1       9822
       abuse |      9,822    .0991651    .2988988          0          1
      status |      9,822    2.828548    .5304375          1          3
    unemrate |      9,822    5.569212    1.505064        2.8       10.9
         age |      9,822    39.17573    9.637618         25         59
-------------+---------------------------------------------------------
        educ |      9,822    13.30961    2.898751          0         19
     married |      9,822    .8164325    .3871508          0          1
     famsize |      9,822    2.741499    1.524022          1         13
       white |      9,822    .8530849    .3540393          0          1
    exhealth |      9,822    .4159031    .4929021          0          1
-------------+---------------------------------------------------------
    vghealth |      9,822    .3018733     .459094          0          1
  goodhealth |      9,822    .2052535    .4039073          0          1
  fairhealth |      9,822    .0534514    .2249434          0          1
   northeast |      9,822    .2030136    .4022631          0          1
     midwest |      9,822    .2656282    .4416896          0          1
-------------+---------------------------------------------------------
       south |      9,822    .3182651    .4658267          0          1
    centcity |      9,822    .3332315    .4713925          0          1
   outercity |      9,822     .434942    .4957746          0          1
        qrt1 |      9,822    .2546325    .4356766          0          1
        qrt2 |      9,822     .252698    .4345814          0          1
-------------+---------------------------------------------------------
        qrt3 |      9,822    .2428222    .4288104          0          1
     beertax |      9,822    .4260433    .4437726       .045       2.37
      cigtax |      9,822    17.96319    7.255378          2         38
     ethanol |      9,822    2.035733    .3766722    1.03473    4.01676
     mothalc |      9,822    .0404195     .196951          0          1
-------------+---------------------------------------------------------
     fathalc |      9,822    .1543474    .3612998          0          1
     livealc |      9,822    .1881491     .390851          0          1
        inwf |      9,822    .9303604    .2545516          0          1
      employ |      9,822    .8981877    .3024167          0          1
       agesq |      9,822    1627.612    797.4116        625       3481
-------------+---------------------------------------------------------
   beertaxsq |      9,822     .378427     .891617    .002025   5.616899
    cigtaxsq |      9,822    375.3115     274.573          4       1444
   ethanolsq |      9,822    4.286077    1.703576   1.070666   16.13436
      educsq |      9,822    185.5476    74.35952          0        361

In [31]:
tab abuse

      abuse |      Freq.     Percent        Cum.
------------+-----------------------------------
          0 |      8,848       90.08       90.08
          1 |        974        9.92      100.00
------------+-----------------------------------
      Total |      9,822      100.00

In [32]:
tab abuse, sum(educ)

            |           Summary of educ
      abuse |        Mean   Std. Dev.       Freq.
------------+------------------------------------
          0 |   13.343354   2.9101866       8,848
          1 |    13.00308   2.7754227         974
------------+------------------------------------
      Total |   13.309611   2.8987509       9,822

In [35]:
inspect educ

educ:                                           Number of Observations
-------                                ---------------------------------------
                                             Total      Integers   Nonintegers
|              #             Negative            -             -             -
|              #             Zero               13            13             -
|              #             Positive        9,809         9,809             -
|              #   #                   -----------   -----------   -----------
|              #   #         Total           9,822         9,822             -
|  .   .   #   #   #         Missing             -
+----------------------                -----------
0                    19                      9,822
  (20 unique values)

In [ ]:
save

## Keeping track of things

In [ ]:
do file and log file

In [ ]:
capture log close
log using test1.log, replace text
log using test2.log, append text

In [36]:
label data "TA_session_data1"

In [40]:
label variable abuse "Whether abuse alcohol or not"
lab var status "Employment == 1"

In [41]:
describe

Contains data
  obs:         9,822                          TA_session_data1
 vars:            34
 size:       569,676
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
              storage   display    value
variable name   type    format     label      variable label
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
v1              int     %8.0g
abuse           byte    %8.0g                 Whether abuse alcohol or not
status          byte    %8.0g                 Employment == 1
unemrate        float   %9.0g
age             byte    %8.0g
educ            byte    %8.0g
married         byte    %8.0g
famsize         byte    %8.0g
white           byte    %8.0g
exhealth        byte    %8.0g
vghealth        byte    %8.0g
goodhealth      byte    %8.0g
fairhealth      byte    %8.0g
northeast       byte    %8.0g
midwest         byte    %8.0g
south           byte    %8.0g
centcity        byte    %8.0g
outercity       byte    %8.0g
qrt1            byte    %8.0g
qrt2            byte    %8.0g
qrt3            byte    %8.0g
beertax         float   %9.0g
cigtax          float   %9.0g
ethanol         float   %9.0g
mothalc         byte    %8.0g
fathalc         byte    %8.0g
livealc         byte    %8.0g
inwf            byte    %8.0g
employ          byte    %8.0g
agesq           int     %8.0g
beertaxsq       float   %9.0g
cigtaxsq        float   %9.0g
ethanolsq       float   %9.0g
educsq          int     %8.0g
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Sorted by:
     Note: Dataset has changed since last saved.

In [42]:
tab status

 Employment |
       == 1 |      Freq.     Percent        Cum.
------------+-----------------------------------
          1 |        684        6.96        6.96
          2 |        316        3.22       10.18
          3 |      8,822       89.82      100.00
------------+-----------------------------------
      Total |      9,822      100.00

In [47]:
lab de status 1 "workforce" 2 "unemployed" 3 "employed"

label status already defined

r(110);

In [48]:
lab values status status

In [51]:
tab status if status == 1

 Employment |
       == 1 |      Freq.     Percent        Cum.
------------+-----------------------------------
  workforce |        684      100.00      100.00
------------+-----------------------------------
      Total |        684      100.00

In [52]:
label list

status:
           1 workforce
           2 unemployed
           3 employed

In [56]:
list status educ if status == 1 in 1/10

     +------------------+
     |    status   educ |
     |------------------|
  1. | workforce      4 |
  8. | workforce      2 |
  9. | workforce      5 |
     +------------------+

## Database Manipulation

In [ ]:
ren

In [ ]:
recode

In [ ]:
keep
drop

In [ ]:
sort
bysort

In [ ]:
gen
egen
replace